{% extends "base.html" %}
{% block content %}
    <section class="register">
        <form action="">
            <h1>Preencha o formulário de Cadastro</h1>
            <input type="text" name="name">
            <input type="email" name="email">
            <input type="password" name="password">
            <input type="password" name="confirm_password">

            <div>
                <a href="{% url 'login_page' %}">
                    <button type="button" class="register__btn__cancel">Cancelar</button>
                </a>
                <button type="submit" class="register__btn__register">Registrar</button>
            </div>
        </form> 
    </section>
{% endblock content %}