{% extends "base.html" %}
{% block content %}
    <section class="register">
        <form action="{% url 'register_page' %}" encType="multipart/form-data" method="post" id="register-form">
            {% csrf_token %}
            <h1>Preencha o formulário de Cadastro</h1>
            {% include "partials/_alerts.html" %}
            <div class="register__input">
                <label for="name">Nome</label>
                <input type="text" name="name">
            </div>
            <div class="register__input">
                <label for="email">E-mail</label>
                <input type="email" name="email">
            </div>
            <div class="register__input">
                <label for="password">Senha</label>
                <input type="password" name="password">
            </div>
            <div class="register__input">
                <label for="confirm-password">Confirmar Senha</label>
                <input type="password" name="confirm_password">
            </div>

            <div>
                <a href="{% url 'login_page' %}">
                    <button type="button" class="register__btn__cancel">Cancelar</button>
                </a>
                <button type="submit" class="register__btn__register">Registrar</button>
            </div>
        </form>
    </section>
{% endblock content %}