.login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    margin-left: 35vw;
}

.login form {
    height: auto;
    width: 30vw;
    display: flex;
    align-items: end;
    flex-direction: column;
    background-color: rgba(30, 27, 58, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.login input {
    width: 100%;
    padding: 10px;
    background-color: #1a1530;
    border-radius: 5px;
    margin-top: 5px;
    color: #fff;
    border: none;
    font-size: large;
}

.login button {
    background-color: #a238ff;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

.login a {
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    color: #fff;
    margin-top: 5px;
}

.login a:hover {
    color: #a238ff;
}

@media (max-width: 768px) {
    .login {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .login form {
        width: 50vw;
    }
}

@media (max-width: 425px) {
    .login {
        margin-left: 0;
    }

    .login form {
        width: 100%;
    }
}
