.register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 35vw;
}

.register form {
    height: auto;
    width: 30vw;
    display: flex;
    align-items: end;
    flex-direction: column;
    background-color: rgba(30, 27, 58, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.register h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.register__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 5px;
    margin-bottom: 10px;
}

.register input {
    width: 100%;
    padding: 10px;
    background-color: #1a1530;
    border-radius: 5px;
    margin-top: 5px;
    color: #fff;
    border: none;
    font-size: 18px;
}

.register button {
    color: #fff;
    padding: 10px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.register__btn__register {
    background-color: #a238ff;
    margin-left: 5px;
}

.register__btn__cancel {
    background-color: #dc2626;
}

@media (max-width: 768px) {
    .register {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .register form {
        width: 50vw;
    }
}

@media (max-width: 425px) {
    .register {
        margin-left: 0;
    }

    .register form {
        width: 100%;
    }
}
